{% extends 'base.html' %}

{% block content %}


<h1>
	{% if get_user.first_name or get_user.last_name %}
	{{get_user.first_name}} {{get_user.last_name}}
	{% else %}
	{{get_user.username}}
	{% endif %}
	Posts</h1>

<ul>
{% for post in all_post_of_this_usr %}
	<li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 

		- <a href = "{% url 'category' post.category.id %}">{{ post.category }}</a>

		- <a href="{% url 'author_all_posts' post.author.id %}"> {% if post.author.first_name or post.author.last_name %}{{ post.author.first_name }} {{ post.author.last_name }}{% else %}{{ post.author.username }}{% endif %}</a> - {{ post.post_date }}

	<small>
		{% if user.is_authenticated %}

			{% if user.id == post.author.id %}
				- <a href = "{% url 'update_post' post.pk %}">(edit)</a>

				<a href = "{% url 'delete_post' post.pk %}">(delete)</a>
			{% endif %}

		{% endif %}
	
	</small> <br/>
	{{ post.snippet }} ... <a href = {% url 'article-detail' post.pk %}>read more</a>
	</li><br/>
{% endfor %}
</ul>

{% endblock %}